# Version control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
*.egg-info/
dist/
build/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Local MongoDB data
mongodb_data/ 